<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TokenInitializer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing123"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AddPlaylist"
            android:exported="false" />
        <activity
            android:name=".PlaylistsSongs"
            android:exported="false" />
        <activity
            android:name=".PlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".AllPerformers"
            android:exported="false" />
        <activity
            android:name=".DisplayAnalysis"
            android:exported="false" />
        <activity
            android:name=".Analysis"
            android:exported="false" />
        <activity
            android:name=".DisplayRecommendationsAnalysis"
            android:exported="false" />
        <activity
            android:name=".RecommendationAnalysis"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsSongsActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".PerformerRatingActivity"
            android:exported="false" />
        <activity
            android:name=".ManualAddSongActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".CsvUploadActivity"
            android:exported="false" />
        <activity
            android:name=".DisplaySearchActivity"
            android:exported="false" />
        <activity
            android:name=".AllAddedSongs"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AddSongActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>